
@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: 'EarlyFontDiary';
  }
  
  .heading {
    color: rgb(34, 54, 97);
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  
  .nav-link-item {
    padding-right: 2rem;
  }
  
  .nav-link-text {
    color: black;
  }